/* regole generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F6F8F9;
}


/* regole header */
header {
    background-color: #FFFFFF;
}

header img {
    margin: 20px 0 20px 20px;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

header span {
    font-size: 35px;
    display: inline-block;
    font-weight: bold;
    translate: 0 20%;
}


/* regole sezione pulsanti */
#contenitore-sezionecentrale {
    background-color: #FFFFFF;
    width: 85%;
    margin: 50px auto;
}

.pulsanti {
    padding: 20px 40px;
    border-bottom: 2px solid #F6F8F9;
}

.pulsantesingolo {
    padding: 5px;
    border-radius: 15%;
}

.pulsante-task {
    background-color: #47ADF1;
    border-color: #47ADF1;
    color: #FFFFFF;
}

.pulsante-section {
    background-color: #FFFFFF;
    border-color: #F6F8F9;
    color: #bebebe;
}

/* regole sezione task */
.sezione-task {
    padding: 20px 40px;
}

.title-task {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    display: inline-block;
}

.title-task::before {
    content: '\25BC  ';
    font-size: 15px;
}

.sezione-task div {
    margin-bottom: 15px;
}

.done::before {
    content: '\2714';
    font-size: 7px;
    font-weight: bold;
    padding: 3px;
    margin-right: 5px;
    color: #96D5C5;
    border-radius: 50%;
    border: 2px solid #96D5C5;
}

.cross::before {
    content: '\2718';
    font-size: 7px;
    font-weight: bold;
    padding: 3px;
    margin-right: 5px;
    color: #ED6963;
    border-radius: 50%;
    border: 2px solid #ED6963;
}


/* regole categorie colorate */
.category {
    padding: 5px;
    border-radius: 40%;
    font-size: 8px;
    color: #FFFFFF;
}

.blue {
    background-color: #47ADF1;
}

.violet {
    background-color: #9C72E4;
}

.green {
    background-color: #64C0A9;
}

.orange {
    background-color: #F29E33;
}

.pink {
    background-color: #D863A1;
}

.lightgreen {
    background-color: #B0C926;
}
